@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme static {
    --color-primary-50: oklch(97% 0.014 254.604);
    --color-primary-100: oklch(93.2% 0.032 255.585);
    --color-primary-200: oklch(88.2% 0.059 254.128);
    --color-primary-300: oklch(80.9% 0.105 251.813);
    --color-primary-400: oklch(70.7% 0.165 254.624);
    --color-primary-500: oklch(62.3% 0.214 259.815);
    --color-primary-600: oklch(54.6% 0.245 262.881);
    --color-primary-700: oklch(48.8% 0.243 264.376);
    --color-primary-800: oklch(42.4% 0.199 265.638);
    --color-primary-900: oklch(37.9% 0.146 265.522);
    --color-primary-950: oklch(28.2% 0.091 267.935);

    --color-secondary-50: oklch(98.4% 0.003 247.858);
    --color-secondary-100: oklch(96.8% 0.007 247.896);
    --color-secondary-200: oklch(92.9% 0.013 255.508);
    --color-secondary-300: oklch(86.9% 0.022 252.894);
    --color-secondary-400: oklch(70.4% 0.04 256.788);
    --color-secondary-500: oklch(55.4% 0.046 257.417);
    --color-secondary-600: oklch(44.6% 0.043 257.281);
    --color-secondary-700: oklch(37.2% 0.044 257.287);
    --color-secondary-800: oklch(27.9% 0.041 260.031);
    --color-secondary-900: oklch(20.8% 0.042 265.755);
    --color-secondary-950: oklch(12.9% 0.042 264.695);

    --color-danger-50: oklch(97.1% 0.013 17.38);
    --color-danger-100: oklch(93.6% 0.032 17.717);
    --color-danger-200: oklch(88.5% 0.062 18.334);
    --color-danger-300: oklch(80.8% 0.114 19.571);
    --color-danger-400: oklch(70.4% 0.191 22.216);
    --color-danger-500: oklch(63.7% 0.237 25.331);
    --color-danger-600: oklch(57.7% 0.245 27.325);
    --color-danger-700: oklch(50.5% 0.213 27.518);
    --color-danger-800: oklch(44.4% 0.177 26.899);
    --color-danger-900: oklch(39.6% 0.141 25.723);
    --color-danger-950: oklch(25.8% 0.092 26.042);
}

@layer base {
    body {
        @apply [scrollbar-color:_#cbd5e1_transparent] dark:[scrollbar-color:_#334155_transparent];
    }
}
@layer components {
    .sidebar-group {
        @apply flex w-full flex-col gap-y-2;
    }

    .sidebar-group-title {
        @apply text-secondary-600 dark:text-secondary-400 overflow-hidden text-sm font-medium text-ellipsis;
    }

    .sidebar-item {
        @apply text-secondary-900 hover:bg-primary-50 dark:text-secondary-50 dark:hover:bg-primary-950 flex h-[40px] w-full flex-shrink-0 items-center gap-x-3 rounded-lg p-3 text-base font-medium transition-colors;
        &.active {
            @apply bg-primary-500 dark:bg-primary-600 text-secondary-50;
        }
    }

    .title {
        @apply text-secondary-900 dark:text-secondary-50 text-3xl font-semibold transition-colors;
    }

    .btn-ghost {
        @apply border-secondary-300 text-secondary-700 hover:bg-secondary-50 dark:border-secondary-600 dark:text-secondary-200 dark:hover:bg-secondary-700 dark:bg-secondary-800 flex h-10 flex-shrink-0 items-center justify-center gap-x-2 rounded-lg border bg-white px-4 py-2 transition-colors;
    }

    .btn-primary {
        @apply border-primary-600 hover:bg-primary-600 dark:bg-primary-600 bg-primary-500 dark:border-primary-500 dark:hover:bg-primary-700 flex h-10 flex-shrink-0 items-center justify-center gap-x-2 rounded-lg border px-4 py-2 text-white transition-colors;
    }

    .btn-secondary {
        @apply border-secondary-300 bg-secondary-100 text-secondary-700 hover:bg-secondary-200 dark:border-secondary-600 dark:bg-secondary-700 dark:text-secondary-200 dark:hover:bg-secondary-600 flex h-10 flex-shrink-0 items-center justify-center gap-x-2 rounded-lg border px-4 py-2 transition-colors;
    }

    .btn-danger {
        @apply border-danger-600 bg-danger-500 hover:bg-danger-600 dark:border-danger-500 dark:bg-danger-600 dark:hover:bg-danger-700 flex h-10 flex-shrink-0 items-center justify-center gap-x-2 rounded-lg border px-4 py-2 text-white transition-colors;
    }

    /* Icon-only button for actions like delete */
    .btn-icon-danger {
        @apply text-danger-500 hover:text-danger-600 dark:text-danger-400 dark:hover:text-danger-300 transition-colors;
    }

    .link {
        @apply text-secondary-900 dark:text-secondary-50 text-base font-medium transition-colors hover:underline;
    }

    .input {
        @apply dark:focus:border-primary-600 has-[input:focus]:border-primary-500 border-secondary-300 text-secondary-900 dark:border-secondary-700 dark:text-secondary-50 hidden h-10 flex-shrink-0 items-center gap-x-2 rounded-lg border px-2 text-base transition-colors md:flex md:w-auto lg:w-80;
    }

    .card {
        @apply border-secondary-300 dark:border-secondary-700 dark:bg-secondary-900 flex flex-col gap-y-4 rounded-lg border bg-white p-4 transition-colors;
    }

    .card-header {
        @apply flex items-center gap-x-2;
    }

    .card-title {
        @apply text-secondary-900 dark:text-secondary-50 font-medium transition-colors;
    }

    .card-body {
        @apply flex flex-col gap-y-2 rounded-lg p-4;
    }

    .table {
        @apply text-secondary-900 dark:text-secondary-50 h-full w-full;
    }

    .table-header {
        @apply bg-secondary-200 dark:bg-secondary-800 sticky top-0 transition-[background];
    }

    .table-row {
        @apply border-secondary-300 dark:border-secondary-700 border-b transition-colors last:border-none;
    }

    .table-head {
        @apply h-12 px-4 text-start;
    }

    .table-cell {
        @apply w-fit p-4 font-medium whitespace-nowrap;
    }
}

.recharts-default-tooltip {
    @apply !border-secondary-300 dark:!border-secondary-700 dark:!bg-secondary-900 !rounded-lg !border !bg-white transition-colors;
}

.recharts-tooltip-label {
    @apply text-secondary-900 dark:text-secondary-50 text-base font-medium;
}

.recharts-tooltip-item {
    @apply dark:!text-primary-600 !text-primary-500 text-base font-medium;
}
